.App {
  background: #e5e5e5;
  height: 100%;
}
.app__landing {
  min-height: 450px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.9)
    ),
    url("./Assets/images/header-bg.png");
}
.app__events {
  margin-top: -150px;
}

.app__navbar {
  padding: 20px 0;
}
.app__title {
  color: #0c0c0c;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.sidebar__link a:first-child {
  margin-top: 0;
}
.sidebar__link a {
  display: block;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 300;
}

.sidebar__link a i {
  margin-right: 10px;
  font-size: 14px;
}

.app__table thead {
  background: #f5f6fa;
}

.app__table {
  width: 100%;
}

.admin__body {
  background: white;
  margin: 20px 0;
  border-radius: 10px;
}
.app__table thead tr th {
  padding: 5px 20px;
  color: #686868;
  font-weight: normal;
  font-size: 14px;
}
.app__table tbody tr td {
  padding: 5px 20px;
  font-size: 14px;
  font-weight: normal;
  color: black;
}
.sidebar__link .active {
  color: #207fee !important;
}
.event__box {
  width: 100%;
  height: 350px;
  background: #ffbd3e;
  border-radius: 12px;
  text-align: center;
  margin-top: 25px;
}
.event__box h4 {
  margin-top: 9px;
  font-size: 20px;
  color: white;
}
.app__adminBtn {
  background: black;
  color: white !important;
  padding: 5px 25px;
  border-radius: 5px;
}
.app__registerBtn {
  background: #3f90fc;
  color: white !important;
  padding: 5px 25px;
  border-radius: 5px;
}

.app__login {
  height: 100vh;
}

.login__form {
  margin-top: 50px;
  border: 1px solid #ababab;
  height: 435px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.login__form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login__form button {
  width: 100%;
  padding: 10px 10px;
  background: white;
  border: 1px solid #c7c7c7;
  border-radius: 50px;
  margin-bottom: 15px;
}

.login__form img {
  width: 25px;
  float: left;
}
.register__form {
  margin-top: 50px;
  border: 1px solid #ababab;
  height: 435px;
  background-color: white;
  border-radius: 5px;
  padding: 20px 40px;
}
.event__tasks {
  height: 100vh;
}
.event__tasks__Box img {
  width: 150px;
  margin-right: 25px;
}

.event__tasks__Box {
  display: flex;
  background: white;
  border-radius: 10px;
  padding: 15px;
}
.event__tasks__Box button {
  float: right;
  border: navajowhite;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 14px;
}
.app__dashboard {
  height: 100vh;
}
